@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("fonts/TTLakes-Regular.ttf");
}

@font-face {
    font-family: "TT Lakes bold";
    src: local("TT Lakes bold"),
    url("fonts/TTLakes-Bold.ttf");
}


body {
    margin: 0;
    width: 320px;
    height: 1024px;
    font-family: "TT Lakes", "Arial", serif;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 16px 0 52px #0E185033;
}

.burger-menu {
    display: flex;
    flex-wrap: wrap;
}

.button-header {
    color: #1B1C21;
    display: flex;
    padding: 24px;
    justify-content: flex-start;
    width: 320px;
}

.button__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
}

.button-header__logo_position {
    margin-left: 16px;
}

.button-header__item_last-position {
    margin-left: auto;
}

.list {
    padding: 0 24px;
}

.list__item {
    list-style-type: none;
    margin-top: 32px;
}

.link_style {
    text-decoration: none;
    color: #1B1C21;
    position: relative;
}

.list__item_chosen {
    color: #7E7E82;
}

.main-menu__item::before,
.main-menu__item_chosen::before {
    content: "";
    width: 4px;
    height: 32px;
    position: absolute;
    left: -24px;
    top: -4px;
    background-color: #41F6D7;
    line-height: 24px;
    vertical-align: middle;
    border-radius: 0 20px 20px 0;
}

.main-menu__item:not(.main-menu__item_chosen)::before {
    left: -28px;
}

.main-menu__item:hover {
    color: #41F6D7;
    transition: color 0.3s;
}

.main-menu__item:hover::before {
    width: 15px;
    transition: width 0.3s;
    transform: translateX(0);
}

.footer-container {
    padding-left: 24px;
    margin-top: 236px;
}

.contact {
    display: flex;
}

.contact__button {
    margin-right: 16px;
}

.contact__phone {
    font-family: "TT Lakes bold", "Arial", serif;
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.contact__link-display {
    display: block;
    margin-top: 12px;
}

.lang {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 32px;
}

.lang_item {
    margin-top: 0;
    margin-right: 7px;
    cursor: pointer;
}

.lang__item_upper {
    text-transform: uppercase;
}