@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("fonts/TTLakes-Regular.ttf");
}

@font-face {
    font-family: "TT Lakes bold";
    src: local("TT Lakes bold"),
    url("fonts/TTLakes-Bold.ttf");
}

body {
    margin: 0;
    background-color: #F8F8F8;
    font-family: "TT Lakes", "Arial", serif;
    letter-spacing: -0.2px;
    color: #1B1C21;
    min-width: 320px;
}

.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 24px 16px;
    justify-content: flex-start;
}

.header__navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__navigation--hidden {
    display: flex;
}

.header__button {
    margin-right: 16px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
}

.header > .header__button:first-child,
.header__navigation .header__button:last-child {
    margin-right: 0;
}

.header__logo {
    position: relative;
}

.header__logo--center {
    vertical-align: middle;
}

.shadow {
    width: 100%;
    height: 1px;
    background-color: #D9FFF5;
}

@media (max-width: 768px) {
    .header__navigation--hidden {
        display: none;
    }
    .header__logo {
        margin-left: 20px;
    }
    .header__logo::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        margin-left: 16px;
        vertical-align: middle;
    }
}

@media (min-width: 768px) and (max-width: 1228px) {
    .header {
        padding: 24px;
    }
    .header__logo::before,
    .header__navigation--hidden::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        vertical-align: middle;
        margin-right: 20px;
        margin-left: 20px;
        align-self: center;
    }
}

@media (min-width: 1228px) {
    .header,
    .shadow {
        display: none;
    }
}

main {
    padding: 24px;
}

.titleGroup {
    display: flex;
    padding: 0;
}

.titleGroup__text {
    align-self: center;
    font-family: "TT Lakes bold", "Arial", serif;
    font-size: 28px;
    line-height: 40px;
    display: inline-block;
}

.titleGroup__text::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 40px 40px 0;
    left: 0;
}

.titleGroup__navigation--style {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.titleGroup__navigation--style:not(:first-child) {
    margin-left: 32px;
}

.titleGroup__item {
    margin-left: 8px;
}

.menu {
    margin-top: 16px;
    overflow: hidden;
}

.menu__container {
    margin: 0 -17px -24px 0;
    padding: 0 17px 24px 0;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    overflow: scroll;
    align-content: center;
    /* Добавим дополнительный нижнее поле элементу, в котором прокручивается меню */
    /* С помощью отрицательного отступа компенсируем «нарощенное» поле  */
}

.linkItem {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    text-decoration: none;
    color: #7E7E82;
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
}

.menu__item:not(:first-child) {
    margin-left: 16px;

}

.menu__item--active{
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.firstBlock {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 24px;
}

.firstBlock__text {
    align-self: flex-start;
    flex-grow: 1;
}

.firstBlock__text--style {
    white-space: pre-line;
    margin: 0;
}

.firstBlock__readMore {
    padding: 0;
    padding-top: 13px;
    margin-left: 32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    background:none;
    border:none;
    cursor: pointer;
}

.firstBlock__readMore::before {
    content: "";
    position: absolute;
    background: url('img/expand.svg') no-repeat;
    width: 24px;
    height: 24px;
    left: 25px;
}

.firstBlock__image {
    min-width: 320px;
    margin-left: 36px;
    width: calc(100% - 500px);
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    main {
        padding: 24px 16px;
    }
    .firstBlock {
        flex-wrap: wrap;
    }
    .firstBlock__text--style {
        height: 39px;
        overflow:hidden;
    }
    .titleGroup__navigation {
        display: none;
    }
    .firstBlock__text {
        margin-bottom: 16px;
    }
    .firstBlock__readMore::before {
        left: 16px;
    }
    .firstBlock__image {
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1228px) {
    .titleGroup__navigation {
        display: none;
    }
    .firstBlock__text {
        width: 80%;
    }
    .firstBlock__text--style {
        height: 72px;
        overflow: hidden;
    }
    .firstBlock__about :nth-child(2) {
        display: inline-block;
    }
    .firstBlock__image {
        width: 100%;
    }
}

@media (min-width: 1228px) {
    main {
        padding: 32px;
    }
    .menu__container {
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .firstBlock__text {
        width: 45%;
    }
    .firstBlock__text--style {
        height: 74px;
        overflow: hidden;
    }
    .firstBlock__about :nth-child(2) {
        display: inline;
    }
}

