@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("fonts/TTLakes-Regular.ttf");
}

@font-face {
    font-family: "TT Lakes bold";
    src: local("TT Lakes bold"),
    url("fonts/TTLakes-Bold.ttf");
}

body {
    margin: 0;
    background-color: #F8F8F8;
    font-family: "TT Lakes", "Arial", serif;
    letter-spacing: -0.2px;
    color: #1B1C21;
    min-width: 320px;
}

.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 24px 16px;
    justify-content: flex-start;
}

.header__navigation {
    margin-left: auto;
    display: flex;
}

.header__item {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 20px;
    border: 0;
    margin-right: 16px;
    margin-left: 0;
    cursor: pointer;
}

.header__item_last {
    margin-right: 0;
}

@media (max-width: 768px) {
    .header__navigation_hidden {
        display: none;
    }
    .header__logo::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        margin: 0 16px;
        vertical-align: baseline;
    }
}

@media (min-width: 768px) and (max-width: 1228px) {
    .header__logo::before,
    .header__navigation_hidden::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        vertical-align: middle;
        margin-right: 20px;
    }
    .header__logo::before {
        vertical-align: baseline;
    }
}

@media (min-width: 1228px) {
    .header {
        display: none;
    }
}

main {
    margin-top: 24px;
}

.titleGroup {
    display: flex;
    padding: 0;
}

.titleGroup__text {
    align-self: center;
    margin: 0 0 0 12px;
    font-family: "TT Lakes bold", "Arial", serif;
    font-size: 28px;
    line-height: 40px;
    display: inline-block;
}

.titleGroup__text::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 40px 40px 0;
    left: 0;
}

.titleGroup__navigation_style {
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.titleGroup__item {
    height: 40px;
    width: 40px;
    margin-left: 8px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    margin-top: 16px;
    overflow: hidden;
}

.menu__container {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    overflow: scroll;
    align-content: center;
    /* Добавим дополнительный нижнее поле элементу, в котором прокручивается меню */
    padding-bottom: 20px;
    /* С помощью отрицательного отступа компенсируем «нарощенное» поле  */
    margin-bottom: -20px;
    padding-right: 15px;
    margin-right: -15px;
    padding-left: 24px;
}

.menu__item {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    text-decoration: none;
    color: #7E7E82;
    padding: 8px 16px;
    margin-top: 24px;
    margin-left: 16px;
    display: inline-block;
    cursor: pointer;
}

.menu__item_active{
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.firstBlock {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 16px;
}

.firstBlock__text {
    margin-left: 34px;
}

.firstBlock__about {
    white-space: pre-line;
}

.firstBlock__readMore {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    background:none;
    border:none;
    cursor: pointer;
}

.firstBlock__readMore::before {
    content: "";
    position: absolute;
    background: url('img/expand.svg') no-repeat;
    width: 24px;
    height: 24px;
    left: 25px;
}

.firstBlock__image {
    margin-left: 36px;
    width: calc(100% - 500px);
}

.firstBlock__image_size {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .firstBlock {
        flex-wrap: wrap;
    }
    .firstBlock__about {
        padding-right: 30px;
        height: 170px;
        overflow:hidden;
    }
    .titleGroup__navigation {
        display: none;
    }
    .firstBlock__text {
        margin-bottom: 16px;
        width: 288px;
    }
    .firstBlock__image {
        min-width: 320px;
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1120px) {
    .titleGroup__navigation {
        display: none;
    }
    .firstBlock {
        margin-right: 34px;
    }
    .firstBlock__text {
        width: 350px;
    }
    .firstBlock__about {
        width: 312px;
        height: 150px;
        overflow:hidden;
    }
    .firstBlock__about :nth-child(2) {
        display: inline-block;
    }
    .firstBlock__image {
        min-width: 360px;
        width: calc(100% - 10px);
    }
}

@media (min-width: 1120px) {
    header {
        display: none;
    }
    .menu__container {
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .firstBlock {
        margin-right: 34px;
    }
    .firstBlock__text {
        width: 490px;
    }
    .firstBlock__about {
        height: 120px;
        overflow: hidden;
    }
    .firstBlock__about :nth-child(2) {
        display: inline;
    }
    .firstBlock__image {
    }
}

