body {
    margin: 0;
    width: 320px;
    height: 100%;
    background-color: white;
    color: #1B1C21;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 24px;
    box-shadow: 16px 0 52px #0E185033;
    height: 100vh;
    min-height: 745px;
}

.sidebar__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar__logo_position {
    margin-left: 16px;
    position: relative;
}

.sidebar__button:last-child {
    margin-left: auto;
}

main {
    padding: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list--width {
    width: 222px;
}

.list--margin {
    margin-top: 30px;
}

.listItem {
    display: inline-block;
    text-decoration: none;
    color: #1B1C21;
}

.list__item {
    padding: 16px 0;
}

.list__item:hover {
    color: #1B1C21;
    background-color: #f5f5f5;
    padding-left: 10px;
    transform: scale(1.1);
    border-bottom: 1px solid #1b1c214d;
}

.list__item--chosen {
    color: #7E7E82;
    position: relative;
}

.list__item--chosen::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    top: 11px;
    left: -24px;
    border-radius: 0 40px 40px 0;
}

/*.list__item {
    position: relative;
}

.list__item:not(:first-child) {
    margin-top: 32px;
}

.list__item--color {
    color: #1B1C21;
    padding: 0;
}

.list__item--colorChosen {
    color: #7E7E82;
}

.list__item--chosen::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0 40px 40px 0;
    left: -24px;
    top: -4px;
}

.linkItem:hover {
    color: #41F6D7;
}
 */

.sidebar__footer {
    margin-top: auto;
}

.contacts__button:not(:first-child) {
    margin-left: 16px;
}

.email {
    padding: 0;
    margin-top: 16px;
    color: #1B1C21;
}

.phone {
    padding: 0;
    margin-top: 12px;
    font-family: "TT Lakes bold", "Arial", serif;
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 32px;
    color: #1B1C21;
}

.lang {
    margin: 40px 0 0 0;
    padding: 0;
}

.lang__item {
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    color: #1B1C21;
    font-weight: 700;
}

.lang__item:not(:first-child) {
    margin-left: 7px;
}

.lang__item--chosen {
    color: #7E7E82;
}